@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  height: 70px;
  background-color: whitesmoke;
  /* border-bottom:2px solid grey; */
}
header .bg-color {
  background-color: whitesmoke;
}
header .fuente-nav {
  font-family: "Oswald";
}
header .color-nav {
  color: #e40555;
  text-decoration: none;
}
header .active_h a:hover {
  border: 1px solid #9DF4E2;
  border-radius: 12px;
  color: #9DF4E2;
}
header li {
  list-style: none;
}

.piedepagina {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.piedepagina a:hover {
  background-color: #9DF4E2;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 5px #9DF4E2, 0 0 25px #9DF4E2, 0 0 50px #9DF4E2, 0 0 100px #9DF4E2;
}
.piedepagina p {
  color: #e40555;
  list-style: none;
}

@media (min-width: 593px) and (max-width: 720px) {
  .piedepagina {
    font-size: small;
  }
}
@media (min-width: 320px) and (max-width: 593px) {
  .piedepagina {
    font-size: small;
  }
}
@media (max-width: 320px) {
  .piedepagina {
    font-size: x-small;
  }
}
.banner .main_banner {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: auto;
  /* min-height: 100vh; */
}
.banner .main_banner .content {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.banner .main_banner .content h1 {
  font-family: "Anton";
  font-size: 5em;
  color: #e40555;
}
.banner .main_banner .content p {
  font-family: "Oswald";
  font-size: 1.2em;
  /* color: $color-desc-banner; */
}

.contenedor-login {
  grid-area: main;
  display: flex;
  flex-direction: column;
  font-family: "Oswald";
  font-weight: 200;
  font-size: 15px;
  line-height: 1;
  color: black;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.login-section a {
  cursor: pointer;
  transition: all 200ms linear;
}
.login-section a :hover {
  text-decoration: none;
}
.login-section .link {
  color: #c4c3ca;
}
.login-section .link :hover {
  color: #e40555;
}
.login-section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.login-section h4 {
  font-weight: 600;
  color: #e40555;
}
.login-section h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.login-section .section {
  position: relative;
  width: 100%;
  display: block;
}
.login-section .full-height {
  min-height: 100vh;
}
.login-section [type=checkbox]:checked,
.login-section [type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.login-section .checkbox:checked + label,
.login-section .checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #e40555;
}
.login-section .checkbox:checked + label:before,
.login-section .checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #e40555;
  background-color: #e40555;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.login-section .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
.login-section .card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.login-section .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.login-section .card-front, .login-section .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.login-section .card-back {
  transform: rotateY(180deg);
}
.login-section .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.login-section .center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}
.login-section .form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.login-section .form-style {
  padding: 1px 1px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 400;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.login-section .form-style:focus,
.login-section .form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.login-section .input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #e40555;
  transition: all 200ms linear;
}
.login-section .form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.login-section .btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #e40555;
  color: whitesmoke;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.login-section .btn:active,
.login-section .btn:focus {
  background-color: whitesmoke;
  color: whitesmoke;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.login-section .btn:hover {
  background-color: whitesmoke;
  color: #e40555;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

/* Siempre siempre debemos comenzar con esto, pero acordate que arriba metemos todas las secciones de sass que vamos a usar para estandarizar */
* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas: "header " "main " "footer ";
  background-color: whitesmoke;
  /* .main{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center; */
  /* &__titular{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-family: $font-titulos;
      color:$color-font;
      margin-top:10px;
      font-size:xx-large;
  }

  &__desc{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-size: $size-desc-main;
      font-family: $font-desc;
      color:$color-font;
  } */
}
body .container-fluid {
  grid-area: main;
}/*# sourceMappingURL=style.css.map */